section.contacts(id="contacts")
	.wrapper
		header
			h1 Контакты
		.left
			form(action="index.html")
				h2 Обратная связь
				p
					label(for="user-name") Имя
					input(type="text", name="user-name")
				p
					label(for="user-email") e-mail
					input(type="text", name="user-email")
				p
					label(for="user-message") Сообщение
					textarea(name="user-message" rows="4")
				
				button(type="submit").btn Отправить

		.right
			address
				ul
					li
						a(href="#") <span>Адрес:</span><br/> Москва, Садовая-Черногрязская, 22, стр.1
					li
						a(href="tel:+74956216002") <span>Телефон:</span><br/> +7 495 621 60 02
					li
						a(href="mail:ojakhuri@mail.ru") <span>Почта:</span><br/> ojakhuri@mail.ru
		.clearfix