section.projects
	.wrapper
		h1 Наши проекты
		ul
			li
				a(href="#").project-card
					.card-img
						img(src="images/assets/khinkali-khaus.svg", alt="логотип")
					.description
						p.
							Кулинари Маркет
			li
				a(href="#").project-card
					.card-img
						img(src="images/assets/mochi.svg", alt="логотип")
					.description
						p.
							Оджахури
			li
				a(href="#").project-card
					.card-img
						img(src="images/assets/ojakhuri.svg", alt="логотип")
					.description
						p.
							Кулинари
			li
				a(href="#").project-card
					.card-img
						img(src="images/assets/ojakhuri.svg", alt="логотип")
					.description
						p.
							Хинкали Хаус
			li
				a(href="#").project-card
					.card-img
						img(src="images/assets/ojakhuri.svg", alt="логотип")
					.description
						p.
							Кулинари Маркет
			li
				a(href="#").project-card
					.card-img
						img(src="images/assets/ojakhuri.svg", alt="логотип")
					.description
						p.
							Кулинари Маркет