section.projects(id="projects")
	.wrapper
		h1 Наши проекты
		ul
			li
				a(href="project.html").project-card
					.card-img
						img(src="images/assets/khinkali-khaus.svg", alt="логотип")
					.description
						p.
							Кулинари Маркет
							<span>Кулинарная лавка</span>
			li
				a(href="#").project-card
					.card-img
						img(src="images/assets/mochi.svg", alt="логотип")
					.description
						p.
							Оджахури
							<span>Ресторан грузинской кухни</span>
			li
				a(href="#").project-card
					.card-img
						img(src="images/assets/ojakhuri.svg", alt="логотип")
					.description
						p.
							Кулинари
							<span>Кулинарная лавка</span>
			li
				a(href="#").project-card
					.card-img
						img(src="images/assets/ojakhuri.svg", alt="логотип")
					.description
						p.
							Хинкали Хаус
							<span>Ресторан грузинской кухни</span>
			li
				a(href="#").project-card
					.card-img
						img(src="images/assets/ojakhuri.svg", alt="логотип")
					.description
						p.
							Кулинари Маркет
							<span>Ресторан грузинской кухни</span>
			li
				a(href="#").project-card
					.card-img
						img(src="images/assets/ojakhuri.svg", alt="логотип")
					.description
						p.
							Кулинари Маркет
							<span>Ресторан грузинской кухни</span>