section.projects(id="projects")
	.wrapper
		header
			h1 Наши проекты
		ul.projects-list
			li
				a(href="project.html").project-card
					.card-img
						img(src="http://gulianigroup.spicedpages.ru/wp-content/uploads/2018/01/mochi-logo.png", alt="логотип")
					.description
						p.
							Кулинари Маркет
							<span>Кулинарная лавка</span>
			li
				a(href="#").project-card
					.card-img
						img(src="http://gulianigroup.spicedpages.ru/wp-content/uploads/2018/01/hometbilisi@3x.png", alt="логотип")
					.description
						p.
							Оджахури
							<span>Ресторан грузинской кухни</span>
			li
				a(href="#").project-card
					.card-img
						img(src="http://gulianigroup.spicedpages.ru/wp-content/uploads/2017/12/upload-7570a250-9adb-11e6-9ecf-dfb7d4e21da3.png", alt="логотип")
					.description
						p.
							Кулинари
							<span>Кулинарная лавка</span>
			li
				a(href="#").project-card
					.card-img
						img(src="http://gulianigroup.spicedpages.ru/wp-content/uploads/2018/01/ojakhurikulinarii@3x.png", alt="логотип")
					.description
						p.
							Хинкали Хаус
							<span>Ресторан грузинской кухни</span>
			li
				a(href="#").project-card
					.card-img
						img(src="http://gulianigroup.spicedpages.ru/wp-content/uploads/2017/12/upload-7f15cfb0-9adb-11e6-9ecf-dfb7d4e21da3.png", alt="логотип")
					.description
						p.
							Кулинари Маркет
							<span>Ресторан грузинской кухни</span>
			li
				a(href="#").project-card
					.card-img
						img(src="http://gulianigroup.spicedpages.ru/wp-content/uploads/2017/12/upload-795ca990-9adb-11e6-9ecf-dfb7d4e21da3.png", alt="логотип")
					.description
						p.
							Кулинари Маркет
							<span>Ресторан грузинской кухни</span>