header#site-header
	.top
		.logo
			a(href="#")
				img(src="images/assets/logo-gor.svg", alt="логотип Guliani Group")
		nav.site-nav
			ul
				li.active
					a(href="#") Главная
				li
					a(href="#projects") Проекты
					ul.sub-menu
						li
							a(href="#projects") ХинкалиХаус
						li
							a(href="#projects") Оджахури - рестораны
						li
							a(href="#projects") Оджахури - кулинарии
						li
							a(href="#projects") Проекты
				li
					a(href="#contacts") Контакты

	.hero
		.main
			.bg-image-holder(style="background-image: url('../images/hero-photo.png');")
			.social
				ul
					li
						a(href="#")
							img(src="images/assets/icon/social/fb.svg", alt="guliani facebook")
					li
						a(href="#")
							img(src="images/assets/icon/social/in.svg", alt="guliani instagram")
					li
						.rect
			.hero-header.single-project
				h1 Guliani Group
				h1 Ресторанный холдинг
				img(src="images/assets/ojakhuri.svg", alt="ojakhuri-logo")
			.screen
				.hero-header-description
					ul
						li Рестораны в Москве
						li Рестораны в Тбилиси
						li Производство Напитков
		.mob
			.hero-header-description
				ul
					li Рестораны в Москве
					li Рестораны в Тбилиси
					li Производство Напитков
			.social
				ul
					li
						a(href="#")
							img(src="images/assets/icon/social/fb.svg", alt="guliani facebook")
					li
						a(href="#")
							img(src="images/assets/icon/social/in.svg", alt="guliani instagram")
					li
						.rect
		