.contacts {
	margin-top: $pad-med;
	background-color: color(light-gray);
	& .wrapper {
		display: flex;
		flex-flow: row wrap;
		margin: 0 auto;
		max-width: map-get($breakpoints, b-large);
		padding: $pad-med $pad-small;
		& header {
			width: 100%;
		}
		& .left {
			width: 100%;
			margin-top: $pad-small;
			& form {
				padding: $pad-med $pad-small;
				box-shadow: 0 14px 28px rgba(0,0,0,0.12), 0 10px 10px rgba(0,0,0,0.11);
				background-color: color(b-white);
				max-width: 50rem;
				& label {
					display: block;
					font-size: 1.5rem;
				}
				& input {
					padding: .5rem 1rem;
					width: 100%;
					line-height: 4rem;
					font-size: 2rem;
				}
				& textarea {
					@extend input;
					line-height: 3rem;
				}
				& button {
					display: block;
					margin: 0 auto;
					margin-top: $pad-small;
				}
			}
		}
		& .right {
			width: 100%;
			margin-top: $pad-small;
			& address {
				max-width: 25rem;
				& ul {
					& li {
						margin-top: 1rem;
						& a {
							font-style: normal;
							color: color(text);
							& span {
								font-weight: bold;
							}
						}
					}
				}
			}
		}
	}
}

@media (min-width: map-get($breakpoints, b-medium-tab)) {
	.contacts {
		& .wrapper {
			& .left {
				max-width: percentage(6/12);
			}
			& .right {
				padding-left: $pad-med;
				max-width: percentage(6/12);
			}
		}
	}
}

// @media (min-width: map-get($breakpoints, b-xlarge)) {
// 	.contacts {
// 		& .wrapper {
// 			padding: $pad-med;
// 			& .left {
// 				@include span(6);
// 			}
// 			& .right {
// 				@include span(6);
// 			}
// 		}
// 	}
// }
