.gallery {
	padding: 0;
	max-width: $container;
}

.slick-dots {
	bottom: -4rem;
}

.slick-dots li button:before {
	content: '■';
	color: color(primary);
	font-size: 3rem;
}

@media (min-width: map-get($breakpoints, b-medium-tab)) {
	.gallery {
		padding: $pad-med $pad-small;
		@include container($container);
		& .gallery-wrapper {
			& .item  {
				overflow: hidden;
				max-height: 75rem;
			}
		}
	}
	.slick-dots li button:before {
		font-size: 5rem;
	}
}