.gallery {
	margin: 0 auto;
	margin-top: $pad-med;
	padding: $pad-med $pad-small;
	max-width: map-get($breakpoints, b-large);
}

.gallery-wrapper {
	margin-bottom: 0;
}

.slick-dots li button:before {
	content: '■';
	color: color(primary);
	font-size: 3rem;
}

@media (min-width: map-get($breakpoints, b-medium-tab)) {
	.gallery {
		& .gallery-wrapper {
			& .item  {
				overflow: hidden;
				max-height: 75rem;
			}
		}
	}
	.slick-dots li button:before {
		font-size: 5rem;
	}
}