.projects {
	margin-top: $pad-med;
	background-color: color(light-gray);
	& .wrapper {
		position: relative;
		max-width: map-get($breakpoints, b-large);
		padding: $pad-med $pad-small;
		margin: 0 auto;
		& header {
			width: 100%;
		}
	}
}

.projects-list {
	display: flex;
	flex-flow: row wrap;
	align-items: stretch;
	margin-top: $pad-small;
	width: 100%;
	& li {
		width: 100%;
		margin-top: 2rem;
		& a {
			.card-img {
				& img {
					display: none;
				}
			}
			& .description {
				& p {
					font-size: 2.5rem;
					font-weight: 600;
					color: color(text);
					font-family: typo
					(second-font-family);
					margin-top: 0;
					&::before {
						content: '■';
						display: inline-block;
						margin-right: 1rem;
						color: color(primary);
					}
					& span {
						display: block;
						font-size: 1.5rem;
						letter-spacing: .1rem;
						font-weight: 500;
						padding-left: 3rem;
						text-transform: uppercase;
						font-family: typo(global-font-family);
					}
				}
			}
		}
	}
}

@media (min-width: map-get($breakpoints, b-medium-tab)) {
	.projects {
		& .wrapper {
			& h1 {
				text-align: center;
			}
			& .projects-list {
				justify-content: center;
				& li {
					width: calc( (100% - 2rem) / 3);
					padding: $pad-small;
					margin-right: 1rem;
					margin-top: 1rem;
					text-align: center;
					background-color: color(b-white);
					box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
					transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
						&:hover {
							box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
						}
					& a {
						& .card-img {
							height: 20rem;
							overflow: hidden;
							position: relative;
							margin: 2rem;
							& img {
								position: absolute;
								display: inline-block;
								top: 50%;
								left: 50%;
								transform: translate(-50%, -50%);
								max-height: 100%;
								width: auto;
								max-width: percentage(8/12);
							}
						}
						& .description {
							& p {
								font-size: 1.75rem;
							}
						}
					}
				}
				& li:nth-child(3n) {
					margin-right: 0;
				}
			}
		}
	}
}