#site-header {
	@include container($container);
	// min-height: 100vh;
	& .top {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding: $pad-med $pad-small;
		& .logo {
			align-self: center;
			width: 100%;
			margin-right: 2rem;
			& a {
				display: block;
				& img {
					max-height: 5rem;
				} 
			}
		}
		& .site-nav {
			align-self: center;
			& ul {
				text-align: center;
				& li {
					position: relative;
					display: inline-block;
					border-bottom: solid .25rem tint(color(light-gray), 75%);
					& a {
						display: block;
						min-width: 10rem;
						padding: 1rem;
						font-size: 1.5rem;
						font-weight: 600;
						text-transform: uppercase;
						color: color(medium-gray);
						&:hover {
							text-decoration: none;
							color: shade(color(medium-gray),25%);
						}
					}
					& .sub-menu {
						position: absolute;
						display: none;
						padding: 1rem;
						z-index: 100;
						background-color: white;
						top: 6rem;
						left: -50%;
						text-align: center;
						& li {
							white-space: nowrap;
						}
					}
				}
				& .active {
					border-bottom: solid .25rem color(primary);
				}
			}
		}
	}
	
	& .hero {
		& .main {
			position: relative;
			display: flex;
			align-items: center;
			min-height: 40rem;
			& .bg-image-holder {
				position: absolute;
				height: 100%;
				width: 100%;
				right: 0;
				top: 0;
				z-index: -1;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
			}
			& .hero-header {
				display: inline-block;
				margin-top: 11rem;
				padding: $pad-small;
				background-color: rgba(255,255,255,.95);
				& h1 {
					font-size: 4rem;
					font-weight: 500;
					&:nth-child(2) {
						margin-top: 1rem;
						font-size: 3rem;
						color: color(primary);
					}
				}
			}
			& .single-project {
				& img {
					display: none;
				}
			}
			& .screen-desc {
				display: none;
			}
			& .social {
				display: none;
			}
		}
		& .mob-desc-soc {
			padding: $pad-med $pad-small;
			display: flex;
			flex-wrap: wrap;
			& .hero-header-description {
				margin-right: 5rem;
				& ul {
					& li {
						color: color(medium-gray);
						&::before {
							content: '●';
							color: color(primary);
							display: inline-block;
							width: 2rem;
							height: 2rem;
							margin-right: 1rem;
						}
					}
				}
			}
			& .social {
				display: none;
				margin-top: $pad-med;
				& ul {
					& li {
						display: inline-block;
						vertical-align: middle;
						margin-left: 3rem;
						& a {
							display: block;
							width: 3rem;
							height: 3rem;
						}
						& .rect {
							height: .25rem;
							width: 15rem;
							background-color: color(primary);
						}
					}
				}
			}
		}
	}
}

@media (min-width: map-get($breakpoints, b-medium)) {
	#site-header {
		& .top {
			flex-wrap: nowrap;
			& .logo {
				flex-basis: 100%;
				& img {
					width: auto;
				}
			}
		
			& .site-nav {
				flex-basis: 100%;
				& ul {
					text-align: right;
					& li {
						text-align: center;
					}
				}
			}
		}
	}
} 

@media (min-width: map-get($breakpoints, b-medium-tab)) {
	#site-header {
		& .hero {
			& .main {
				min-height: 65rem;
				padding-top: 15rem;
				& .hero-header {
					padding: $pad-med;
					& h1 {
						font-size: 7rem;
						&:nth-child(2) {
							margin-top: 4.5rem;
						}
					}
				}
			}
			& .mob-desc-soc {
				flex-wrap: nowrap;
				& .hero-header-description {
					flex-grow: 1;
				}
				& .social {
					display: none;
					flex-grow: 2;
					& ul {
						& li {
							& .rect {
								width: 24rem;
								background-color: color(primary);
							}
						}
					}
				}
			}
		}
	}
}

@media (min-width: map-get($breakpoints, b-large)) {
	#site-header {
		& .hero {
			& .main {
				position: relative;
				min-height: 85vh;
				padding: $pad-med;
				padding-top: 7rem;
				align-items: center;
				background-size: contain;
				background-position: right bottom;
				& .bg-image-holder {
					width: percentage(7/12);
				}
				& .text {
					display: flex;
					flex-wrap: wrap;
					& .hero-header {
						width: 70%;
						min-height: 15rem;
					}
					& .screen-desc {
						margin-left: $pad-med;
					}
				}
				&::after {
					content: '';
					display: block;
					position: absolute;
					right: 0;
					top: 0;
					width: 10rem;
					height: 100%;
					background-color: color(b-white);
				}
				& .single-project {
					& h1 {
						display: none;
					}
				}
				& .single-project {
					width: percentage(4/12);
					& img {
						display: block;
						max-height: 30rem;
						width: auto;
						max-width: 100%;
						margin: 0 auto;
					}
				}
				& .screen-desc {
					display: block;
					& .hero-header-description {
						margin-top: $pad-med;
						background-color: color(b-white);
						padding: $pad-small;
						padding-left: 0;
						.tesis {
							max-width: 25rem;
						}
						& ul {
							max-width: 25rem;
							& li {
								color: color(medium-gray);
								&::before {
									content: '●';
									color: color(primary);
									display: inline-block;
									width: 2rem;
									height: 2rem;
									margin-right: 1rem;
								}
							}
						}
					}
				}
				& .social {
					display: inline-block;
					position: absolute;
					right: 4rem;
					width: 3rem;
					z-index: 2;
					& ul {
						text-align: center;
						& li {
							// display: inline-block;
							display: none;
							vertical-align: middle;
							margin-left: 0;
							margin-top: $pad-max;
							& a {
								display: block;
								width: 3rem;
								height: 3rem;
							}
							& .rect {
								height: 25rem;
								width: .25rem;
								background-color: color(primary);
							}
						}
					}
				}
			}
			& .mob-desc-soc {
				display: none;
			}
		}
	}
}