.text-block {
	padding: $pad-med 0;
	& .wrapper {
		padding: $pad-med $pad-small;
		background-color: color(bej);
		& .quote {
			color: color(primary);
			font-size: 2.5rem;
			font-family: typo(header-font-family);
			line-height: 4rem;
		}
	}
}