.text-block {
	padding: $pad-med 0;
	background-color: color(light-gray);
	margin-top: $pad-med;
	& .wrapper {
		padding: 0 $pad-small;
		max-width: map-get($breakpoints, b-large);
		margin: 0 auto;
	}
}

@media (min-width: map-get($breakpoints, b-medium-tab)) {
	.text-block {
		& .wrapper {
			& h1 {
				max-width: percentage(6/12);
			}
			& article {
				margin-top: $pad-small;
				column-count: 2;
				column-gap: 4rem;
				& p:first-child {
					margin-top: 0;
				}
			}
		}
	}
}

@media (min-width: map-get($breakpoints, b-large)) {
	
}